body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  background-color: #BDA0CB;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.legend {
    color: #000;
    font: 10px sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
  top:38%;
}
